<link rel="import" href="bower_components/polymer/polymer-element.html">
<link rel="import" href="bower_components/paper-finder/paper-finder-sit.html">
<link rel="import" href="bower_components/paper-input-finder-sit/paper-input-finder-sit.html">
<link rel="import" href="bower_components/paper-icon-refresh/paper-icon-refresh.html">
<link rel="import" href="bower_components/paper-detail-sit/paper-detail-sit.html">
<link rel="import" href="bower_components/paper-finder-icons-sit/paper-finder-icons-sit.html">


<dom-module id="paper-finder-container">
  <template>
    <style>
      :root{
        --fBox-container:{
          display: flex;
          flex-direction: row;
        };
        /* Image */
        --width-image: 10rem;
        --height-image: 10rem;
        --margin-image: 5px 5px;

        /* Title */
        --font-color-title: #323234;
        --margin-title: 1rem;
        --font-size-title: 19px;
        /* Description */
        --font-size-description: 14px;
        --margin-left-description: 1rem;
        --text-align-description: justify;

        /* Icons */
        --width-container: 5px;
        --margin-left-icon: 3px;
        --margin-right-icon: 3px;
        /* Refresh */
        --text-align-refresh: center;
        --cursor-refresh: pointer;
      }
      .main-container {
        @apply --fBox-container;
      }
      .image {
        width: var(--width-image);
        height: var(--height-image);
        margin: var(--margin-image);
      }
      .refresh {
        text-align: var(--text-align-refresh);
        cursor: var(--cursor-refresh);
      }
      .title{
        color: var(--font-color-title);
        margin-left: var(--margin-title);
        font-size: var(--font-size-title);
      }
      .description p{
        font-size: var(--font-size-description);
        margin-left: var(--margin-left-description);
        text-align: var(--text-align-description);
      }
      .container-icons {
        @apply --fBox-container;
        width: var(--width-container);
      }
      .icons {
        margin-left: var(--margin-left-icon);
        margin-right: var(--margin-right-icon);   
      }
      .refresh {
        text-align: var(--text-align-refresh);
        cursor: var(--cursor-refresh);
      }

    </style>

    <template is="dom-if" if="[[!title]]">
      <paper-input-finder-sit id="button_search" on-search="_searching"></paper-input-finder-sit>
    </template>


    <template is="dom-if" if="[[content]]">
      <template is="dom-if" if="[[title]]">
        <h2>Results for: [[title]]</h2>
      </template>

      <div class="main">
        <template is="dom-repeat" items="[[content.data]]" as="element">

        <div class="main-container">

          <div>
            <img src$="[[element.img_url]]" class="image">
          </div>

          <div class="container-details">
            <paper-detail-sit title="[[element.title]]" description="[[element.text]]"></paper-detail-sit>
            <paper-finder-icons-sit icons="[[element.icons]]" on-like-clicked="_likeClicked"></paper-finder-icons-sit>
          </div>

        </div>

      </template>
      <div class="refresh">
        <paper-icon-refresh icon="[[content.icon]]" on-send-event="_reloading"></paper-icon-refresh>
      </div>
      </div>
    </template>
  </template>

  <script>
    class PaperFinderContainer extends Polymer.Element {
      static get is() { return 'paper-finder-container'; }
      static get properties() {
        return {
          content : {
            type : Object,
          },
          title : {
            type : String,
            notify : true,
            value: '',
          }
        };
      };

      ready(){
        super.ready();
        this.addEventListener('title-changed', this._hideSearchBar);
      };

      _hideSearchBar(title){
        
        if(title.detail.value=""){
          return false;
        } else if(title.length!==0){
          return false;
        }
        console.log(this);
        
        
      }

      async _searching(e) {
        
        e.stopPropagation();
        const finderContainer = document.getElementById('finder-container');
        const query = e.detail.data.toLowerCase().replace(' ', '_');
        const response = await fetch(
          `https://api.unsplash.com/search/photos?page=1&query=${query}?&client_id=dfb3f81ecbddcb11c864491935439d1193e3dcc7f99540b7d6c9ec3915b56fcd`
          );
        const data = await response.json();
        const result = {
          icon: {
            name: 'icons:refresh',
            event: 'refresh',
          },
          data: await data.results.map(photo => {
            return {
              img_url: photo.urls.small,
              title: photo.description,
              text: photo.alt_description,
              icons : [
                {
                  name : 'icons:favorite',
                  amount: photo.likes,
                  event: 'like-clicked'
                }
              ]
            }
          })
          
        };
        finderContainer.set('title', e.detail.data);
        finderContainer.set('content', JSON.parse(JSON.stringify(result)));
        
      }

      _reloading(e){
        location.reload(); 
      }

      _likeClicked(e){ 
        console.log(e.detail);
      }
      
    }
    window.customElements.define(PaperFinderContainer.is, PaperFinderContainer);
  </script>
</dom-module>
